<% if(pagination.prev || pagination.next){ %>
    <div class="paginator pager pagination">
        <div class="paginator_container pagination_container">
            <% if(pagination.prev){ %>
                <a href="<%= pagination.prev %>" class="btn pre newer-posts newer_posts"><i class="fa fa-angle-double-left"></i> 上一页</a>
            <% } %>
            <% if(pagination.next){ %>
                <a href="<%= pagination.next %>" class="btn next older-posts older_posts">下一页 <i class="fa fa-angle-double-right"></i></a>
            <% } %>
        </div>
    </div>
<% } %>